<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
</head>
<body>
<h1>用户登录</h1>

<form action="login" method="post">
    用户名: <input type="text" name="username"/></br>
    密码: <input type="text" name="password"/></br>
    <input type="submit" value="Login"/>
</form>
</body>
</html>