<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
        <div style="margin-left: 45px;">

            <h1 style="text-align: center;">主页</h1>

            <form action="#" role="form" style="margin-top: 90px;">

                <h3 style="text-align: center;"><%=message%></h3>
                <div style="margin-top: 145px;">
                    <input type="button" value="退 出">
                </div>
            </form>
        </div>
    </div>
</body>
</html>