.page{

}

.home{
    background-color: red;
    color:white;
}

.user{
    background-color: green;
    color:black;
}

@keyframes in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.home.ng-enter{
    animation: in 1s;
}



.user.ng-enter{
    animation: in 1s;
}

